:root {
--base-bg-input-disabled: #f4f4f4;
--brand-bg-button-disabled: #ebc4c2;
--brand-typo-button-hover: #f56f6b;
--brand-typo-button-active: #f56f6b;
--input-color-light: #afafaf;
--secondary-base-bg: #f4f4f4;
--mobile-app-icon: //st.worldota.net/master/f0c2afa-28d999c/img/mobileapp/zen@2x.png;
--brand-logo: https://f.worldota.net/ostrota/theme/zenhotels/logo-20231114150306.svg;
--sizes: [object Object];
--palette-black: #2d3137;
--palette-dark: #868686;
--palette-gray: #c8c8c8;
--palette-light: #e5e5e5;
--palette-ulight: #f4f4f4;
--palette-white: #ffffff;
--palette-disabled: #afafaf;
--palette-main: #f56f6b;
--palette-sec: rgb(252, 238, 237);
--border: rgb(229, 229, 229);
--disabled-overlay: rgba(246, 246, 246, 0.8);
--disabled-filter: grayscale(0.5) opacity(0.4);
--header-bg: rgb(255, 255, 255);
--header-bg-secondary: rgb(244, 244, 244);
--header-logo-main-max-height: 40px;
--header-logo-partner-max-height: 40px;
--header-main: #034762;
--header-secondary: rgba(3, 71, 98, 0.4);
--header-typo: rgb(3, 71, 98);
--header-menu-typo: rgb(134, 134, 134);
--header-menu-typo-secondary: rgb(134, 134, 134);
--header-active: rgb(45, 49, 55);
--header-height: 48px;
--header-height-secondary: 48px;
--colored-primary-bg: rgb(245, 111, 107);
--colored-primary-typo: rgb(255, 255, 255);
--colored-primary-hover-bg: rgb(234, 101, 98);
--colored-primary-active-bg: rgb(210, 79, 78);
--colored-secondary-bg: rgb(252, 238, 237);
--colored-secondary-typo: rgb(3, 71, 98);
--colored-secondary-hover-bg: rgb(249, 235, 234);
--colored-secondary-active-bg: rgb(245, 231, 230);
--button-primary-bg: rgb(245, 111, 107);
--button-primary-typo: rgb(255, 255, 255);
--button-primary-hover-bg: rgb(234, 101, 98);
--button-primary-active-bg: rgb(210, 79, 78);
--button-secondary-bg: rgb(252, 238, 237);
--button-secondary-typo: rgb(245, 111, 107);
--button-secondary-hover-bg: rgb(249, 235, 234);
--button-secondary-active-bg: rgb(245, 231, 230);
--button-danger-bg: rgb(206, 33, 33);
--button-danger-typo: rgb(255, 255, 255);
--button-danger-hover-bg: rgb(189, 53, 44);
--button-danger-active-bg: rgb(165, 32, 24);
--button-outline-border: rgb(245, 111, 107);
--button-outline-typo: rgb(245, 111, 107);
--button-outline-hover-border: rgb(234, 101, 98);
--button-outline-active-border: rgb(210, 79, 78);
--multibutton-border: rgb(229, 229, 229);
--multibutton-on-bg: rgb(255, 255, 255);
--multibutton-on-typo: rgb(134, 134, 134);
--multibutton-off-bg: rgb(244, 244, 244);
--multibutton-off-typo: rgb(134, 134, 134);
--field-bg: rgb(255, 255, 255);
--field-typo: rgb(45, 49, 55);
--field-placeholder: rgb(175, 175, 175);
--field-label: rgb(45, 49, 55);
--field-border: rgb(229, 229, 229);
--field-hover-border: rgb(234, 101, 98);
--field-active-border: rgb(210, 79, 78);
--dropdown-selected-bg: rgba(245, 111, 107, 0.09999999999999998);
--selected-bg: rgba(245, 111, 107, 0.09999999999999998);
--box-border: rgb(229, 229, 229);
--box-bg: rgb(255, 255, 255);
--box-hover-border: rgb(234, 101, 98);
--box-active-bg: rgba(245, 111, 107, 0.4);
--box-on-bg: rgb(245, 111, 107);
--box-on-typo: rgb(255, 255, 255);
--box-on-hover-bg: rgb(234, 101, 98);
--calendar-holiday-color-edge: #ffddbb;
--calendar-holiday-color: #be0000;
--link: #008cb9;
--link-hover: rgb(0, 110, 153);
--link-active: rgb(0, 95, 138);
--link-alt: rgb(96, 204, 252);
--link-alt-hover: rgb(156, 234, 255);
--link-alt-active: rgb(199, 247, 255);
--text: rgb(45, 49, 55);
--text-secondary: rgb(134, 134, 134);
--text-alt: rgb(255, 255, 255);
--block-bg: rgb(255, 255, 255);
--block-bg-secondary: rgb(244, 244, 244);
--block-bg-alt: rgb(45, 49, 55);
--shadow: rgba(45, 49, 55, 0.3);
--alert: #ce2121;
--alert-bg: rgb(252, 234, 234);
--alert-alt: rgb(234, 165, 165);
--alert-outline: rgba(206, 33, 33, 0.4);
--success: #53af24;
--success-bg: rgb(220, 239, 211);
--success-alt: rgb(186, 223, 168);
--warning: #e77c00;
--warning-bg: rgb(246, 228, 206);
--warning-alt: rgb(255, 173, 78);
--highlight-bg: #fff8e6;
--focus-outline: rgba(245, 111, 107, 0.4);
--logo-bg: transparent;
--brand-typo-like: rgb(3, 71, 98);
--fidelity-dreams: #ff6464;
--fidelity-guru-points-main: #fb3e7f;
--fidelity-guru-points-secondary: #ff872c;
--fidelity-guru-points-bg: #fff5f9;
--fidelity-ratehawk-points: #4086e4;
--fidelity-roundtrip-points: #cf11ff;
--fidelity-segment-black: rgb(70, 74, 80);
--fidelity-segment-gold: rgb(255, 201, 55);
--fidelity-segment-platinum: rgb(214, 205, 192);
--fidelity-segment-silver: rgb(179, 198, 216);
--fidelity-zen-points: #5c77cc;
--social-facebook-color: #1382ff;
--social-telegram-color: #23a2e3;
--social-viber-color: #675bac;
--social-apple-color: #2d3137;
--z-index-start: 1;
--z-index-tip: 2;
--z-index-popup: 12;
--z-index-popup-important: 22;
}